.register-modal__submit-button {
  margin-top: 28px;
  padding: 8px 16px;
  width: max-content;
  border: none;
  border-radius: 4px;
  background-color: rgb(0, 0, 0);
  color: white;
  font-family: 'Cabinet Grotesk';
  font-size: 16px;
  cursor: pointer;
}

.register-modal__submit-button:disabled {
  background-color: rgba(0, 0, 0, 0.3);
  cursor: not-allowed;
}

.register-modal__submit-button:hover {
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0.5;
}

.register-modal__login-button {
  width: 73px;
  height: 20px;
  border: none;
  background-color: transparent;
  margin-left: 70px;
  margin-top: -26px;
  opacity: 0.5;
  cursor: pointer;
}

.register-modal__login-button:hover {
  text-decoration: underline;
  opacity: 1;
}